.App {
  text-align: center;
  background-color: #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #26334b;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.newCharacterForm{
  margin-top: 1em;
  margin-bottom: 2em;
}

.App-content{
  position: absolute;
  background-color: #26334b;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  bottom:50px;
  top:200px;
  width: 90%;
  padding:5%;
}

.App-link {
  color: #61dafb;
}
.App-footer{
  background-color: #26334b;
  display: flex;
  flex-direction: column;
  color: white;
  height: 50px;
}

.Character-List{
  padding: .5%;
  width:100%;
  background-color: #26334b;
}
.Character-Image{
  height:100px;
}

.Character{
  color:white;
}
.MuiTableCell-body{
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
